<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SwitchApps" Language="1033" Version="1.0.0.0" Manufacturer="Dima Iholkin"
           UpgradeCode="0f5914bd-fee7-4d7a-9b84-425ee6acf183">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <!--<UIRef Id="WixUI_Minimal" />-->



    <!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
    <!--<MediaTemplate />-->



    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>



    <Property Id="THUMBNAIL_PREVIEW_SIZE" Value="800" />



    <!--<Property Id="MsOfficeAdPopup">
      <RegistrySearch Id="MsOfficeAdPopup_Value"
                      Root="HKCU"
                      Key="Software\Classes\ms-officeapp\Shell\Open\Command"
                      Name=""
                      Type="raw" />
    </Property>-->



    <Property Id="THUMBNAIL_PREVIEW_SIZE_PREINSTALL">
      <RegistrySearch Id="ThumbnailPreviewSize_Preinstall_Search"
                      Root="HKCU"
                      Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Taskband"
                      Name="MinThumbSizePx"
                      Type="raw" />
    </Property>

    <Property Id="THUMBNAIL_PREVIEW_DELAY_PREINSTALL">
      <RegistrySearch Id="ThumbnailPreviewDelay_Preinstall_Search"
                      Root="HKCU"
                      Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced"
                      Name="ExtendedUIHoverTime"
                      Type="raw" />
    </Property>

    <Property Id="MSOFFICE_AD_POPUP_PREINSTALL">
      <RegistrySearch Id="MsOfficeAdPopup_Preinstall_Search"
                      Root="HKCU"
                      Key="Software\Classes\ms-officeapp\Shell\Open\Command"
                      Type="raw" />
    </Property>



    <Property Id="THUMBNAIL_PREVIEW_SIZE_PREUNINSTALL">
      <RegistrySearch Id="ThumbnailPreviewSize_Preuninstall_Search"
                      Root="HKCU"
                      Key="Software\SwitchApps\Backup"
                      Name="ThumbnailPreviewSize_Backup"
                      Type="raw" />
    </Property>

    <Property Id="THUMBNAIL_PREVIEW_DELAY_PREUNINSTALL">
      <RegistrySearch Id="ThumbnailPreviewDelay_Preuninstall_Search"
                      Root="HKCU"
                      Key="Software\SwitchApps\Backup"
                      Name="ThumbnailPreviewDelay_Backup"
                      Type="raw" />
    </Property>

    <Property Id="MSOFFICE_AD_POPUP_PREUNINSTALL">
      <RegistrySearch Id="MsOfficeAdPopup_Preuninstall_Search"
                      Root="HKCU"
                      Key="Software\SwitchApps\Backup"
                      Name="MsOfficeAdPopup_Backup"
                      Type="raw" />
    </Property>
    
    
    
    <!--<Property Id="THUMBNAIL_PREVIEW_SIZE_FROM_BACKUP">
      <RegistrySearch Id="ThumbnailPreviewSize_FromBackup_Search"
                      Root="HKCU"
                      Key="Software\SwitchApps\Backup"
                      Name="ThumbnailPreviewSize_Backup"
                      Type="raw" />
    </Property>-->



    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--<Directory Id="ProgramMenuFolder">
        <Directory Id="StartMenuAppFolder" Name="SwitchApps">
          
        </Directory>
      </Directory>-->
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="SwitchApps">
          <Component Id="ApplicationFiles" Guid="12345678-1234-1234-1234-222222222222">
            <RegistryValue Root="HKCU" Key="Software\SwitchApps" Name="InstallFolder" Value="[INSTALLFOLDER]"
                           Type="string" KeyPath="yes" />
            <File Id="ApplicationFile1" Source="../assets/SwitchApps.exe" />

            <File Id="SchedulerTaskInstall" Source="./install-scheduler-task.ps1" />

            <File Id="SchedulerTaskStart" Source="./start.bat" />

            <RemoveFile Id="ALLFILES" Name="*.*" On="both" />
            <RemoveFolder Directory="INSTALLFOLDER" On="both" Id="RemoveProgramDir" />
            <!--<RemoveFolder Directory="StartMenuAppFolder" On="both" Id="RemoveProgramDir2" />-->
          </Component>



          <Component Id="RegistryBackup"
                     Guid="12345678-1234-1234-1234-222222222221" >
            <RegistryKey Root="HKCU"
                         Key="Software\SwitchApps\Backup" >
              <RegistryValue Type="integer"
                             Name="ThumbnailPreviewSize_Backup"
                             Value="[THUMBNAIL_PREVIEW_SIZE_PREINSTALL]" />
            </RegistryKey>

            <RegistryKey Root="HKCU"
                         Key="Software\SwitchApps\Backup" >
              <RegistryValue Type="integer"
                             Name="ThumbnailPreviewDelay_Backup"
                             Value="[THUMBNAIL_PREVIEW_DELAY_PREINSTALL]" />
            </RegistryKey>
            
            <!--<RegistryKey Root="HKCU"
                         Key="Software\SwitchApps\Backup" >
              <RegistryValue Type="integer"
                             Name="MsOfficeAdPopup_Backup"
                             Value="[MSOFFICE_AD_POPUP_PREINSTALL]" />
            </RegistryKey>-->
          </Component>

          <Component Id="RegistryBackup2"
           Guid="12345678-1234-1234-1234-222222222219" >
            <Condition>
              MSOFFICE_AD_POPUP_PREINSTALL
            </Condition>
            <RegistryKey Root="HKCU"
                         Key="Software\SwitchApps\Backup" >
              <RegistryValue Type="string"
                             Name="MsOfficeAdPopup_Backup"
                             Value="[MSOFFICE_AD_POPUP_PREINSTALL]" />
            </RegistryKey>
          </Component>

          <Component Id="RegistryBackup3"
                     Guid="12345678-1234-1234-1234-222222222218" >
            <Condition>
              NOT MSOFFICE_AD_POPUP_PREINSTALL
            </Condition>
            <RegistryKey Root="HKCU"
                         Key="Software\SwitchApps\Backup" >
              <RegistryValue Type="string"
                             Name="MsOfficeAdPopup_Backup"
                             Value="false" />
            </RegistryKey>
          </Component>
          
          

          <!--<Component Id="RevertRegistryChanges">
            <Condition>
              --><!--REMOVE="ALL" AND ( <![CDATA[THUMBNAIL_PREVIEW_SIZE <> 400]]> )--><!--
              
            </Condition>
            --><!--<Condition>
              --><!--<![CDATA[THUMBNAIL_PREVIEW_SIZE = THUMBNAIL_PREVIEW_SIZE_ORIGINAL_REG]]>--><!--
              THUMBNAIL_PREVIEW_SIZE = THUMBNAIL_PREVIEW_SIZE_ORIGINAL_REG
            </Condition>--><!--
            <RegistryKey Root="HKCU"
                         Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Taskband"
                         ForceCreateOnInstall="no"
                         ForceDeleteOnUninstall="no" >
              <RegistryValue 
                Name="MinThumbSizePx" 
                Type="integer" 
                Value="400" />
            </RegistryKey>
          </Component>-->



          <Component Id="MsOfficeAdPopup_Reg" Guid="12345678-1234-1234-1234-222222222223" Permanent="yes">
            <RegistryKey Root="HKCU"
                   Key="Software\Classes\ms-officeapp\Shell\Open\Command"
                   ForceCreateOnInstall="no"
                   ForceDeleteOnUninstall="no" >
              <RegistryValue Type="string" Value="rundll32" />
            </RegistryKey>
          </Component>

          <Component Id="ThumbnailPreviewSize_Reg" Guid="12345678-1234-1234-1234-222222222224" Permanent="yes">
            <RegistryKey Root="HKCU"
                   Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Taskband"
                   ForceCreateOnInstall="no"
                   ForceDeleteOnUninstall="no" >
              <RegistryValue Name="MinThumbSizePx" Type="integer" Value="800" />
            </RegistryKey>
          </Component>

          <Component Id="ThumbnailPreviewDelay_Reg" Guid="12345678-1234-1234-1234-222222222225" Permanent="yes">
            <RegistryKey Root="HKCU"
                   Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced"
                   ForceCreateOnInstall="no"
                   ForceDeleteOnUninstall="no" >
              <RegistryValue Name="ExtendedUIHoverTime" Type="integer" Value="0" />
            </RegistryKey>
            <!--<RemoveRegistryKey/>-->
          </Component>



          <!--<Component Id="AppShortcut" Guid="12345678-1234-1234-1234-222222222226">
            <Shortcut Id="StartShortcut"
                      Name="SwitchApps"
                      Description="start SwitchApps"
                      Target="[start.bat]"
                      WorkingDirectory="INSTALLFOLDER" />
            <RegistryValue Root="HKCU"
                           Key="Software\SwitchApps"
                           Name="AppShortcut"
                           Value="1"
                           Type="integer"
                           KeyPath="yes" />
          </Component>-->
        </Directory>
      </Directory>
    </Directory>

    <!--<Component Id="MsOfficeAdPopup_Reg" Guid="12345678-1234-1234-1234-222222222223">
      <RegistryKey Root="HKCU"
             Key="Software\Classes\ms-officeapp\Shell\Open\Command"
             ForceCreateOnInstall="no"
             ForceDeleteOnUninstall="no"
             Action="create" >
        <RegistryValue Type="string" Value="rundll32" />
      </RegistryKey>
    </Component>-->



    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="RegistryBackup" />
      <ComponentRef Id="RegistryBackup2" />
      <ComponentRef Id="RegistryBackup3" />
      <ComponentRef Id="MsOfficeAdPopup_Reg" />
      <ComponentRef Id="ThumbnailPreviewSize_Reg" />
      <ComponentRef Id="ThumbnailPreviewDelay_Reg" />
      <ComponentRef Id="ApplicationFiles" />
      <!--<ComponentRef Id="RevertRegistryChanges" />-->
      <!--<ComponentRef Id="AppShortcut" />-->
      <!--<ComponentRef Id="CreateSchedulerTask"/>-->
    </Feature>



    <InstallExecuteSequence>
      <Custom Action="CreateSchedulerTask" After="InstallFiles">
        NOT Installed
      </Custom>
      <Custom Action="RemoveSchedulerTask" After="InstallInitialize">
        REMOVE="ALL"
      </Custom>
      <Custom Action="Wait" After="RemoveSchedulerTask">
        REMOVE="ALL"
      </Custom>

      <!--<Custom Action="RevertSystemRegistryChanges" After="InstallValidate">
        REMOVE="ALL"
      </Custom>-->
    </InstallExecuteSequence>
    
    

    <CustomAction Id="CreateSchedulerTask"
                  Execute="deferred"
                  Directory="TARGETDIR"
                  Impersonate="no"
                  Return="check"
                  ExeCommand="powershell -Command &quot;Start-Process powershell -Verb RunAs -ArgumentList 'cd [INSTALLFOLDER]; . .\install-scheduler-task.ps1; Install -InstallDir &quot;[INSTALLFOLDER]&quot; ' &quot;" />



    <CustomAction Id="RemoveSchedulerTask"
                  Execute="immediate"
                  Directory="TARGETDIR"
                  Impersonate="yes"
                  Return="check"
                  ExeCommand="powershell -Command &quot;Start-Process powershell -Verb RunAs -ArgumentList 'cd [INSTALLFOLDER]; . .\install-scheduler-task.ps1; Uninstall -ThumbSize &quot;/[THUMBNAIL_PREVIEW_SIZE_PREUNINSTALL]&quot; -ThumbDelay &quot;/[THUMBNAIL_PREVIEW_DELAY_PREUNINSTALL]&quot; -MsOfficePopup &quot;&quot;[MSOFFICE_AD_POPUP_PREUNINSTALL]&quot;&quot; ; Start-Sleep -s 10 ' &quot;" />

    <CustomAction Id="Wait"
                  Execute="immediate"
                  Directory="TARGETDIR"
                  Impersonate="yes"
                  Return="check"
                  ExeCommand="powershell -Command &quot;Write-Output &quot;Wait...&quot; Start-Sleep -s 15&quot;" />



  </Product>

  <!--<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Installer" />
      </Directory>
    </Directory>
  </Fragment>-->

  <!--<Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Source="$(var.SimpleSetup.WinForms.TargetPath)" />
      </Component>
    </ComponentGroup>
  </Fragment>-->
</Wix>